---
index: 0
extends: blog.j2
title_ending: "| Blog"
---
{# In-file metadata. Supplements data from the site's configuration file 
   and node (folder) level data in "meta.yaml" files.

   Use the AutoExtendPlugin to extend templates from metadata. In this
   case the metadata and "extends" statement has to be on the top of the
   file.
#}

{% block content %}
{% for res in resource.node.walk_resources_sorted_by_date_order() %}
{% if loop.index > latest %} 
{% break %} 
{% endif %}

{{ macros.render_post(res) }}

{{ res.meta.created }}

<div class="bottom_article_nav">
{% if res.prev_by_index is not none -%}
{% if res.prev_by_index.meta.index == 0 %}
{# do nothing #}
{% else %}
<div class="next"><a href="{{ res.prev_by_index.full_url }}">{{ res.prev_by_index.meta.title }}</a>
    &gt;</div>
{%- endif %}
{%- endif %}

{% endfor %}

{% endblock %}
