{% extends "blog.j2" %}

{% block time %}

{# display created date #}

{{ resource.meta.created }}

{% endblock %}


{% block nav %}

{# navigator to next article and previous article #}

{{ macros.render_bottom_article_nav() }}

{% endblock %}
